.Input {
  input {
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 36px rgba(255, 255, 255, 0);
    transition: all 0.1s linear;
    color: black;
    font-weight: 500;
    [data-dark-scheme] & {
      background: rgba(0, 0, 0, 0.6);
      border: 2px solid rgba(255, 255, 255, 0.05);
      color: white;
    }
    &[data-invalid='true'] {
      color: var(--mantine-color-red-6) !important;
      border-color: var(--mantine-color-red-6) !important;
    }
    &:focus {
      background: rgba(255, 255, 255, 0.9);
      border-color: rgba(255, 255, 255, 1);
      box-shadow: 0 0 36px rgba(255, 255, 255, 0.3);
      [data-dark-scheme] & {
        background: rgba(0, 0, 0, 0.9);
        border-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 36px rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.Switch {
  color: blue;
  > div > div {
    margin-top: -6px;
    label,
    div {
      color: black;
      [data-dark-scheme] & {
        color: white;
      }
      font-weight: 600;
    }
    div {
      margin-top: 0;
    }
  }
  > div > label {
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.2);
    [data-dark-scheme] & {
      background: rgba(0, 0, 0, 0.6);
      border: 2px solid rgba(255, 255, 255, 0.05);
    }
  }
}

.ModalOverlay {
  background: rgba(255, 255, 255, 0.5) !important;
  [data-dark-scheme] & {
    background: rgba(0, 0, 0, 0.5) !important;
  }
  backdrop-filter: blur(6px);
  & + div {
    left: 0;
  }
}

.Modal {
  border-radius: 12px !important;
  background: var(--mantine-color-white) !important;
  border: 1px solid rgba(0, 0, 0, 0.06);
  [data-dark-scheme] & {
    background: var(--mantine-color-black) !important;
    border: 1px solid rgba(255, 255, 255, 0.06);
  }
}
